extends layout

block content
    #banner.page-header
        .row
            .col-md-6.col.sm-12
                h1= title
    .row
        .col-md-6.col-sm-12
            p
                | Loc8r was created to help people find places to sit down and get some work done.
                | <br /><br />
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt officiis debitis illo exercitationem minima dolor nostrum quos ab, ut cumque aperiam dolorum asperiores. Iusto necessitatibus ratione eligendi excepturi. Voluptas, ullam!